.row_Poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 45ms;
    margin-right: 10px;
    
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 5px;
    max-height: 350px;
   
}
.row_posters img{
    margin: 5px;
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster:hover{
    transform: scale(1.03);
}
.row_posterLarge{
    max-height: 150px;
   
}
.row_posterLarge:hover{
    transform: scale(1.05);
}
.row{
    margin-left: 20px;
    color: white;
   
   
}
