.banner {
  height: 80vh;
  width: 100%;
  color: white;
  position: relative; /* required for fade */
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.4rem;
}

.banner_btn {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 1rem 3rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.play {
  color: #000;
  background-color: #fff;
}

.banner_btn:hover{
  color: #000;
  background-color: #c6c6c6;
  transition: all 0.2s;
}

.banner_fadeBottom {
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.91),
    #111
  );
  position: absolute;
  bottom: 0;
  left: 0;
}
